/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require_self
 *= require_tree .

*/
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

  .card{
    padding-top: 5px;
    background-color: #eee;
    color:black;
    border: #eee solid black;
    padding:15px;
    border-radius: 5px;
  }
  .card-mini{
    padding-top: 5px;
    background-color: #eee;
    color:black;
    border: #eee solid black;
    padding:5px;
    border-radius: 5px;
  }
  /* Carousel base class */
  .carousel {
    margin-bottom: 30px;
  }

  .carousel .container {
    position: relative;
    z-index: 9;
  }

  .carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
  }

  .carousel .item {
    height: 500px;
  }
  .carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }

  .carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-top: 200px;
  }
  .carousel-caption h1,
  .carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
  }
  .carousel-caption .btn {
    margin-top: 10px;
  }
    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {
      body{
       padding-top: 0px;
     }
     .carousel .item {
      height: 500px;
    }
    .carousel img {
      width: auto;
      height: 500px;
    }
  }


  @media (max-width: 767px) {



    .carousel {
      margin-left: -20px;
      margin-right: -20px;
    }
    .carousel .container {

    }
    .carousel .item {
      height: 300px;
    }
    .carousel img {
      height: 300px;
    }
    .carousel-caption {
      width: 65%;
      padding: 0 70px;
      margin-top: 100px;
    }
    .carousel-caption h1 {
      font-size: 30px;
    }
    .carousel-caption .lead,
    .carousel-caption .btn {
      font-size: 18px;
    }
  }